# DS Store
.DS_Store

# Dependency directories
node_modules
npm-debug.log*

# Text editor
.idea
.vscode

# TLS Certificates
letsencrypt

# Data directory for gru SQLite database
sqlite/data

# Terraform
.terraform
