# DS Store
.DS_Store

# Dependency directories
node_modules
npm-debug.log*

# Text editor
.idea
.vscode

# Environment variables files
.env

# TLS Certificates
docker/letsencrypt/acme.json

# Data directory for gru SQLite database
sqlite/data
